html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #185A36;
}

.navbar-nav {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: #185A36;
}

.button {
    background-color: #185A36;
    border: none;
    color: white;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    font-size: 16px; 
    border-radius: 6px;
}

#downloadbutton {
    color: white;
    background-color: #185A36;
    border-radius: 15px;
}

/* Top background image */  
.container-fluid {
  padding: 0px;
}

.row {
  margin-right: 0px;
}

.btn {
  background-color: #185A36;
  color: white;
}

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-primary {
  color: #fff;
  background-color: #185A36;
  border-color: #357ebd; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #19693d;
  border-color: #15472c; /*set the color you want here*/
}

.testIcon {
  height: 80px;
  color: #185A36;
}

/* Get started */

.getStartedButton {
  background-color: #185A36;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 16px; 
  border-radius: 6px;
}

#faq {
    list-style-type: none;
    padding: 0;
}

#faq li {
    padding-top: 20px;
    font-size: 20px;
}

#faq li img {
    padding-right: 30px;
}

/* FAQ */

.accordion {
  background-color: white;
  color: #185A36;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:focus {
  outline: none;
}

.accordion:after {
  content: url("Images/plusIcon.png");
  font-weight: bold;
  float: left;
  margin-right: 20px;
}


.active:after {
  content: url("Images/minusIcon.png");
}


.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Reviews */
#reviewBox {
    background-color: #BDE247;
    border-radius: 15px;
}

/* Footer */

    /* Social media icons */
.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #006633;
  color: white;
  text-decoration: none;
}
.fa-facebook {
  background: #006633;
  color: white;
  text-decoration: none;
}
.fa-instagram {
  background: #006633;
  color: white;
  text-decoration: none;
}
.fa-linkedin {
  background: #006633;
  color: white;
  text-decoration: none;
}
#social-media-icons-group {
    max-height: 100px;
}
a:hover {
  color: white;
  text-decoration: none;
}
  

