html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 0px;
    text-decoration: none;
    font-size: 16px; 
    border-radius: 6px;
  }

  #downloadbutton {
      color: white;
  }

  .getStartedButton {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px; 
    border-radius: 6px;
  }

#faq {
    list-style-type: none;
    padding: 0;
}

#faq li {
    padding-top: 20px;
    font-size: 20px;
}

#faq li img {
    padding-right: 30px;
}

/* Reviews */
#reviewBox {
    background-color: #BDE247;
    border-radius: 15px;
}

/* Footer */

    /* Social media icons */
.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-twitter {
    background: #006633;
    color: white;
    text-decoration: none;
  }

  .fa-facebook {
    background: #006633;
    color: white;
    text-decoration: none;
  }

  .fa-instagram {
    background: #006633;
    color: white;
    text-decoration: none;
  }

  .fa-linkedin {
    background: #006633;
    color: white;
    text-decoration: none;
  }

  #social-media-icons-group {
      max-height: 100px;
  }
  

